<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href='https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' rel='stylesheet'>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap2.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/style.css">

    <title>Legal Note - Acceuil</title>
    <style>
        .sticky-wrapper {
            position: unset !important;
        }
        
        .container-fluid {
            width: 100%;
            padding-right: 0 !important;
            padding-left: 0 !important;
            margin-right: auto;
            margin-left: auto;
        }
    </style>
</head>

<body class="container-fluid" style="height: auto;" id="recherche-1">

    <div class="bg-gradien">
        


   
        <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>
    <div class="bg-menu-slide d-xl-none d-md-none">
        
    </div>
    <div id="menu-slide" class="d-xl-none d-md-none">
                    <div class="mb-3">
                       <a href="about.html" style="color: black!important;">A propos</a>
                    </div>
                    <div class="mb-3">
                       <a href="formation.html" style="color: black!important;">Formation</a>
                    </div>
                    <div class="mb-3">
                       <a href="faq.html" style="color: black!important;">FAQ</a>
                    </div>
                    <div class="mb-3">
                       <a href="blog.html" style="color: black!important;">Blog</a>
                    </div>
                    <div class="mb-5">
                       <a href="contact.html" style="color: black!important;">Contact</a>
                    </div>
                    <div class="mb-3">
                       <a href="connexion.html" style="background-color: black; color: white !important;border-radius: 4rem!important; padding: 10px 30px;" class="">Se
                                    connecter</a>
                    </div>
                    <div class="mb-3 mt-5">
                       
                                
                                    <p class="fr-boutton">
                                        <img class="drapeau" src="images/fr.png">
                                        <span class="langue-text ml-2 mr-2">FR</span>
                                        <img class="f-bas" src="images/fleche-bas.png">
                                    </p>
                                    <p class="en-boutton">
                                        <img class="drapeau" src="images/en.png">
                                        <span class="langue-text ml-2 mr-2">EN</span>
                                        <img class="f-bas" src="images/fleche-bas.png">
                                    </p>
                                    <p class="all-boutton">
                                        <img class="drapeau" src="images/all.png">
                                        <span class="langue-text ml-2 mr-2">ALL</span>
                                        <img class="f-bas" src="images/fleche-bas.png">
                                    </p>
                               
                            
                    </div>
                    <div id="" class="fr-show float-right liste-langue">
                            
                        <h4 class="en-slide">EN</h4>
                        <h4 class="all-slide">ALL</h4>
                    </div>
                    
                    <div id="" class=" en-show float-right liste-langue">
                            
                        <h4 class="fr-slide">FR</h4>
                        <h4 class="all-slide">ALL</h4>
                    </div>
                    <div id="" class="all-show float-right liste-langue">
                            
                        <h4 class="fr-slide">FR</h4>
                        <h4 class="en-slide">EN</h4>
                    </div>
                    
                </div>


    <header class="site-navbar js-sticky-header site-navbar-target pt-3" role="banner" id="bannerheader">
        <div class="container-fluid">
            <div class="row align-items-center mtp-2 mt-3 mb-2">

                <div class="col-6 col-xl-2 header-left">
                    <a href="index.html">
                        <img class="logo-1" src="images/logo_nav.png" /></a>
                </div>

                <div class="col-sm-12 col-md-10 d-none d-xl-block header-right">
                    <nav class="site-navigation position-relative" role="navigation">

                        <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-xl-block align-items-center">
                            <li><a href="about.html" class="nav-link">A
                                    propos</a>
                            </li>
                            <li><a href="formation.html" class="nav-link">Formations</a></li>
                             <li><a href="faq.html"  class="nav-link">FAQ</a></li>
                            <li><a href="blog.html" class="nav-link">Blog</a></li>
                            <li><a href="contact.html"  class="nav-link">Contact</a>
                            </li>
                            
                            
                            <li class="liste-langue-1 float-right ml-4 mr-5 mp-0" style="margin-top: 1.3vw;">
                                
                                    <p class="fr-boutton">
                                        <img class="drapeau" src="images/fr.png">
                                        <span class="langue-text ml-2 mr-2">FR</span>
                                        <img class="f-bas" src="images/fleche-bas.png">
                                    </p>
                                    <p class="en-boutton">
                                        <img class="drapeau" src="images/en.png">
                                        <span class="langue-text ml-2 mr-2">EN</span>
                                        <img class="f-bas" src="images/fleche-bas.png">
                                    </p>
                                    <p class="all-boutton">
                                        <img class="drapeau" src="images/all.png">
                                        <span class="langue-text ml-2 mr-2">ALL</span>
                                        <img class="f-bas" src="images/fleche-bas.png">
                                    </p>
                               
                            </li>
                            
                            <li class="float-right  ml-3 mt-3"><a href="connexion.html" style="background-color: black;border-radius: 4rem!important;" class="rounded connect-1">Se
                                    connecter</a>
                            </li>
                            <li class="float-right  ml-2 mt-3"><a href="inscription.html" style="border-radius: 4rem!important;" class="rounded activer-mon-compte">Activer mon compte</a>
                            </li>
                            

                        </ul>
                        <ul class="navbar-nav ml-auto g-pb-30 g-pb-0--lg">
                        </ul>
                    </nav>
                    <div id="" class="fr-show float-right liste-langue">
                            
                        <h4 class="en-slide">EN</h4>
                        <h4 class="all-slide">ALL</h4>
                    </div>
                    
                    <div id="" class=" en-show float-right liste-langue">
                            
                        <h4 class="fr-slide">FR</h4>
                        <h4 class="all-slide">ALL</h4>
                    </div>
                    <div id="" class="all-show float-right liste-langue">
                            
                        <h4 class="fr-slide">FR</h4>
                        <h4 class="en-slide">EN</h4>
                    </div>
                </div>

                


                <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3 " style="position: relative; top: 3px;"><a id="menujs" href="#" class="site-menu-toggle float-right" style="z-index: 10 !important;"><span
                            class="icon-menu h3"></span></a>
                </div>

                

            </div>
        </div>
    </header>
    
    <div class="hero" id="">
        <div class="row col-md-12 align-items-center mp-0 pp-0 flex-reverse-mobile">
            <div class="col-md-6 text-center d-xl-block d-md-block d-none">
                
                <div class="image-home  mb-4">
                    <img src="images/homepage.png"> 
                </div>
            </div>
            <div class="col-md-6" >
                <div class="text-home">
                    <!-- <h5 class="card-title">Trouvez les emplois les plus passionnants</h5> -->
                    <h5 class="d-none d-md-block d-xl-block mb-4">Avec <span style="font-weight: 700;">LegalNota</span><br> Contribuez à la prospérité des entreprises </h5>
                    <h5 class="d-block-mobile d-none text-center mt-5">Avec LegalNota,<br>vérifier la disponibité du nom choisi par votre client pour sa futur société. </h5><br>
					<form action="{{ url_for('handle_data') }}" method="POST" >
                        <div class="input-group input-recherche-1 mb-5 mp-0 pp-0">
                            <div class="input-group-prepend d-none d-sm-flex">
                                <span class="input-group-text border-none" style=" border-top-left-radius: 10px;  border-bottom-left-radius: 10px; padding-left: 2rem!important; padding-right: 2rem!important; background-color: white;border: 0px solid #ced4da!important;" id="basic-addon1"><i class="fa fa-search fa-2x recherche-icon" style="color: #B19B62;"></i></span>
                            </div> 
                            
                            <input id="searchInput" type="text" name="term_searched" class="form-control " placeholder="Lancer une recherche" aria-label="Username" aria-describedby="basic-addon1">
                            <button type="submit" name="search_btn" class="btn btn boutton-recherche-1" style="color: white;background-color:  #0C0632;border-top-right-radius: 10px;  border-bottom-right-radius: 10px;">Rechercher</button>
                           
                        </div>
                         </form>
                        <div class="d-none d-block-mobile mt-4 mb-5">
                            <a href="#recherche-1" style="color: white !important; ">
                            <button class="btn btn-dark commander-1">Commander une recherche</button></a>
                        </div>

                    <h4 class="d-none d-md-block d-xl-block mb-5 pb-5" style="font-weight: 600;">Accédez à une information complète et fiable afin de
vérifier la disponibilité du nom choisi pour une future
société</h4>
                </div>
            </div>
        </div>
    </div>
    </div>
    
    <div class="row col-md-12 card-4 d-none d-xl-block d-md-block"> 
        <div class="card-deck ml-2">
            <div class="card" id="card" style="border: none !important;">
                <div id="diva">
                    <img id="img2" class="img-fluid" height="90" src="images/1.png" alt="Card image cap">
                </div>
                <div class="card-body text-center">
                    <!-- <h5 class="card-title">ENTREZ LE NOM DE LA SOCIÉTÉ DANS LA BARRE DE RECHERCHE</h5> -->
                    <h4 class="card-text f-600">ENTREZ LE NOM DE VOTRE CHOIX DANS LA
BARRE DE RECHERCHE</h4>
                </div>
                <div class="text-center">
                    <img class="img-fluid" src="images/step1.png" alt="Card image cap">

                </div>
            </div>
            <div class="card" id="card" style="border: none !important;">
                <div id="diva">
                    <img id="img2" class="img-fluid" src="images/2.png" alt="Card image cap">
                </div>

                <div class="card-body text-center">
                    <h4 class="card-text f-600 text-uppercase">LegalNota identifie
                        pour vous tous les
                        Noms protégés
                        identiques et similaires
                        au nom que vous lui
                        avez soumis</h4>
                        <!--
                        <div class="text-left" style="display: flex; flex-wrap: nowrap;">
                            <li class=""></li><p class="m-0" style="font-weight: 600">Identique incluant préfixes et suffixes</p>
                        </div>
                        <div class="text-left" style="display: flex; flex-wrap: nowrap;">
                            <li class=""></li><p class="m-0" style="font-weight: 600">Identique phonétique</p>
                        </div>
                        <div class="text-left" style="display: flex; flex-wrap: nowrap;">
                            <li class=""></li><p class="m-0" style="font-weight: 600">Recherche similaire</p>
                        </div>
                        <div class="text-left" style="display: flex; flex-wrap: nowrap;">
                            <li class=""></li><p class="m-0" style="font-weight: 600">Recherche sur-mesure</p>
                        </div> -->
                        

                </div>

                <div class="text-center">
                    <img class="img-fluid" src="images/step2.png" alt="Card image cap">
                </div>
            </div>
            <div class="card" id="card" style="border: none !important;">
                <div id="diva">
                    <img id="img2" class="img-fluid" src="images/3.png" alt="Card image cap">
                </div>

                <div class="card-body text-center">
                    <h4 class="card-text f-600">CRÉEZ UN COMPTE/CONNECTEZ-VOUS ET
PAYEZ POUR OBTENIR LE RAPPORT DE RECHERCHE</h4>
                </div>
                <div class="text-center">
                    <img class="img-fluid" id="stepimg" src="images/step3.png" alt="Card image cap">

                </div>
            </div>

            <div class="card" id="card" style="border: none !important;">
                <div id="diva">
                    <img id="img2" class="img-fluid" src="images/4.png" alt="Card image cap">
                </div>
                <!-- <span>1</span> -->

                <div class="card-body  text-center">
                    <h4 class="card-text f-600" style="text-transform: uppercase;">Téléchargez votre
rapport ou retrouvez-le sur votre Compte
</h4>
                </div>
                <div class="text-center">
                    <img class="img-fluid" id="stepimg" src="images/step4.png" alt="Card image cap">

                </div>
            </div>

        </div>
    </div>
    <div class="d-none d-xl-block d-md-block" style="background-color: #E4DAD0; margin-top: 8vw !important;">
        <!-- Columns are always 50% wide, on mobile and desktop -->
        <div class="row col-md-12 align-items-center right" id="presentation">
            <div class="col-md-6 text-right presentation">
                <img src="images/groups.png">

            </div>
            <div class="col-md-6">

                <div class="row">

                    <h5 class="text-left mb-2">LegalNota
                        <span style="color: #B19B62; font-weight: 500 !important;">en quelques mots</span>
                    </h5>

                </div>
                <div class="row text-left mb-4">
                    <div class="col-md-12 img-quelque-mot">
                        <img src="images/paragraphe.png">
                    </div>

                </div>
                <div class="row">

                    <p class="text-left mb-4">LegalNota est un outil de recherche des Noms protégés développé par LegalMarque, cabinet
                    spécialisé en propriété intellectuelle. Il a été pensé pour offrir aux professionnels
                    intervenant dans la création d’entreprises une solution simple, sûre et efficace, pour prévenir les
                    conflits entre Noms protégés, sécuriser le travail de constitution des sociétés et préserver ainsi
                    l’avenir des entreprises. 
                    </p>
                    <p class="text-left">Plus qu’un simple moteur de recherche, LegalNota est un outil puissant : il compile et analyse les
                    données de plusieurs registres officiels, incluant les raisons de commerce, les noms des ONG et des
                    fondations, les marques et les noms de domaine, protégés en Suisse. Pour vous, LegalNota identifie
                    tous les Noms protégés identiques et similaires au nom que vous souhaitez enregistrer au Registre
                    du commerce.  </p>

                </div>
                <div class="row mt-4">
                    <div class="col-md-12">
                        <a href="about.html">

                        <button class="btn btn btn-size ml-0 float-left" style="background-color: #B19B62; color:white;">En
                            savoir plus</button></a>
<a href="#recherche-1">
                        <button class="btn btn-dark btn-size float-right" >Commander une recherche</button></a>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="container d-none d-xl-block d-md-block">
        <!-- Columns are always 50% wide, on mobile and desktop -->
        <div class="row" id="marque">
            <div class="col-12 mt-5">
                <div class="legal-marque-img">
                    <img src="images/marquelegal.png">
                </div> <br>
                <h5 class="titre-expert">Des experts <br> de la propriété intellectuelle
                </h5> <br>
                <!-- <div class="col-lg-6 d-flex justify-content-center "> -->
                <p class="text-center ml-4 mr-4">LegalMarque est un cabinet juridique suisse spécialisé en droit de la propriété intellectuelle. <br> Sa mission : protéger, défendre et valoriser les marques et les actifs immatériels des entreprises. <br> LegalMarque, c’est aussi une
                    équipe à taille humaine, polyglotte et poly-spécialiste de 8 avocats, dont les compétences ont été
                    <br> certifiées par l’Organisation mondiale de la Propriété Intellectuelle.
                </p>

                <!-- </div> -->
                <div class="row mt-5">
                    <div class="col-lg-12">
                        <a href="#recherche-1">
                        <button class="btn btn-dark btn-size">Commander une recherche</button></a>
                        <a href="https://www.legalmarque.ch">
                        <button class="btn btn btn-size" style="background-color: #B19B62; color:white;">Demander un audit
                            gratuit</button></a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="mt-5">
        <!-- Columns are always 50% wide, on mobile and desktop -->
        <div class="row" id="marque">
            <div class="col-md-12 mt-5 mtp-2">
                <div class="faire-confiance d-none d-md-block d-xl-block">
                    <h5 class=""> Pourquoi faire confiance à <br> <span class="font-weight-bold">LegalNota ?</span>
                    </h5>
                    <img src="images/paragraphe.png" class="mt-3 mb-4">

                </div> <br>

                <div class="card-deck mt-2 ml-5 mr-5 mb-5 mp-0 align-items-center">
                    <div class="row col-md-12 mb-2">
                        <!-- <div class="col-md-12"> -->
                        <div class="card col-md-3 " id="card2">
                            <div class="p-3">
                                <img src="images/22.png">
                            </div>
                            <div class="card-body h-100">
                                <h4 class="font-weight-bold mb-4" style="color: #B19B62;">LegalNota vous simplifie<br>la tâche à moindre coût
                                </h4>
                                <p>Il peut être onéreux et compliqué d’identifier l’ensemble des signes et noms protégés pouvant entrer en conflit avec le nom choisi pour votre client pour sa future société. LegalNota les identifie pour vous et vous fournit
                                    un rapport de recherche.
                                </p>
                            </div>
                        </div>
                        <div class="card  col-md-3" id="card2">
                            <div class="p-3">
                                <img src="images/222.png">
                            </div>
                            <div class="card-body h-100">

                                <h4 class="font-weight-bold mb-4" style="color: #B19B62;">Une information complète<br>et
                                à jour

                                </h4>
                                <p>LegalNota compile et met à
                                    jour régulièrement les données
                                    de plusieurs registres officiels,
                                    incluant les raisons de
                                    commerce, les noms des ONG
                                    et des fondations, les marques,
                                    et les noms de domaine.

                                </p>
                            </div>
                        </div>
                        <div class="card  col-md-3" id="card2">
                            <div class="p-3">
                                <img src="images/2222.png">
                            </div>
                            <div class="card-body h-100">

                                <h4 class="font-weight-bold mb-4" style="color: #B19B62;">Le choix d’une sécurité<br>
                                supplémentaire
                                </h4>
                                <p>Si la raison de commerce est
                                rejetée par l’Office fédéral du
                                Registre du Commerce,
                                LegalNota vous offre le
                                remboursement des
                                émoluments de notaire et du
                                Registre pour la modification
                                de la raison de commerce.

                                </p>
                            </div>
                        </div>
                        <!-- </div> -->
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="container mb-5 pb-5">
        <div class="row" style="justify-content: center; align-items: center;">
            <div class="col-md-5 col-12 mr-4 text-right text-center-phone mp-0">
                <a href="#recherche-1">
                    <button class="btn btn-dark btn-size">Commander une recherche</button>
                </a>
            </div>
            <div class="col-md-5 col-12 ml-4 mp-0 text-center-phone mtp-5">
                <a href="coordonne.html">
                        <button class="btn btn btn-size" style="background-color: #B19B62; color:white;">Télécharger le guide LegalNota</button></a>
            </div>
        </div>
    </div>

    <div class="mb-5 pb-5 d-none d-xl-block d-md-block" id="presentation">

        <div class=" justify-content-center mt-5 ml-0 mr-0">
            <div class="col-md-12 mt-5 ml-0 mr-0">
                <div class="row">
                    <!--
                    <div class="logo-avis">
                        <img src="images/switch.png">
                    </div>
                    -->
                    <div>
                        
                        <!-- <br> -->
                        <h5 class="font-weight-bold  mb-4">Avis Clients
                        </h5>
                    </div>
                    <div class="line-avis mb-5">
                        
                        <img src="images/paragraphe.png">
                    </div>
                </div>

            <div class="owl-carousel owl-theme">
                <div class="item">
                    <div class="row mt-5 justify-content-center" style="font-size: 15px!important;">
                    <div class="col-md-5 mr-2 ml-2">

                        <div class="card" id="testi">
                            <div style="text-align: right!important;height: 50px;">
                                <img id="imgtesti" class="card-img-top" src="images/user1.png" alt="Card image cap">
                            </div>
                            <div style="text-align: left!important;height: 0px;">
                                <img id="img2testi" class="card-img-top" src="images/quote.png">
                            </div>
                            <div class="card-body">
                                <!-- <blockquote> -->
                                <h4 class="text-left" style="color: white!important;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Egestas pellentesque lorem volutpat velit.</h4>
                                <!-- </blockquote> -->
                                <h4 style="color: white!important;" class="font-weight-bold float-left">John Clark</h4>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 ml-2 mr-2">

                        <div class="card" id="testi">
                            <div style="text-align: right!important;height: 50px;">
                                <img id="imgtesti" class="card-img-top" src="images/user1.png" alt="Card image cap">
                            </div>
                            <div style="text-align: left!important;height: 0px;">
                                <img id="img2testi" class="card-img-top" src="images/quote.png">
                            </div>
                            <div class="card-body">
                                <!-- <blockquote> -->
                                <h4 class="text-left" style="color: white!important;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Egestas pellentesque lorem volutpat velit.</h4>
                                <!-- </blockquote> -->
                                <h4 style="color: white!important;" class="font-weight-bold float-left">John Clark</h4>

                            </div>
                        </div>
                    </div>

                </div>
                </div>
                <div class="item">
                    <div class="row mt-5 justify-content-center" style="font-size: 15px!important;">
                    <div class="col-md-5 mr-2 ml-2">

                        <div class="card" id="testi">
                            <div style="text-align: right!important;height: 50px;">
                                <img id="imgtesti" class="card-img-top" src="images/user2.png" alt="Card image cap">
                            </div>
                            <div style="text-align: left!important;height: 0px;">
                                <img id="img2testi" class="card-img-top" src="images/quote.png">
                            </div>
                            <div class="card-body">
                                <!-- <blockquote> -->
                                <h4 class="text-left" style="color: white!important;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Egestas pellentesque lorem volutpat velit.</h4>
                                <!-- </blockquote> -->
                                <h4 style="color: white!important;" class="font-weight-bold float-left">John Clark</h4>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 ml-2 mr-2">

                        <div class="card" id="testi">
                            <div style="text-align: right!important;height: 50px;">
                                <img id="imgtesti" class="card-img-top" src="images/user2.png" alt="Card image cap">
                            </div>
                            <div style="text-align: left!important;height: 0px;">
                                <img id="img2testi" class="card-img-top" src="images/quote.png">
                            </div>
                            <div class="card-body">
                                <!-- <blockquote> -->
                                <h4 class="text-left" style="color: white!important;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Egestas pellentesque lorem volutpat velit.</h4>
                                <!-- </blockquote> -->
                                <h4 style="color: white!important;" class="font-weight-bold float-left">John Clark</h4>

                            </div>
                        </div>
                    </div>

                </div>
                </div>
            </div>
            </div>

        </div>
        <div class="d-flex justify-content-center mt-5 ml-0 mr-0">
            <div class="col-md-12 mt-5 ml-0 mr-0">
                <div class="row">
                    <div class="line-avis">
                        <h5 class="font-weight-bold mt-5 mb-4">Nos actualités
                        </h5>
                        <img src="images/paragraphe.png">
                    </div>
                </div>

                <div class="card-deck mt-5 ml-5 mr-5">

                    <div class="card " style="border-radius: 1rem!important;">
                        <p class="nos-actus-card-titre">Article</p>
    
                        <img class="card-img-top " src="images/Group.png" alt="Card image cap ">
                        <div class="card-body text-left">
                            <h3 class="pr-5" style="font-weight: 600;">Lorem ipsum dolor sit amet, consectetuer diam euismod
                            </h3>
                            <p class="pr-5">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt. Ut wisi enim ad
                            </p>
    
                            <div class="mt-5">
                                <a href="blog.html">
                                <button class="btn btn-dark float-right mr-1 btn-size">
                                    En savoir plus
                                </button>
                            </a>
                            </div>
                        </div>
                    </div>
                    <div class="card" style="border-radius: 1rem!important;">
                        <p class="nos-actus-card-titre">
                            Evénement </p>
    
                        <img class="card-img-top " src="images/Group.png" alt="Card image cap ">
                        <div class="card-body text-left">
                            <h3 class="pr-5" style="font-weight: 600;">Lorem ipsum dolor sit amet, consectetuer diam euismod
                            </h3>
                            <p class="pr-5">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt. Ut wisi enim ad
                            </p>
    
                            <div class="mt-5">
                                <a href="blog.html">
                                <button class="btn btn-dark float-right mr-1 btn-size">
                                    En savoir plus
                                </button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card" style="border-radius: 1rem!important;">
                        <p class="nos-actus-card-titre">
                            Formation </p>
    
                        <img class="card-img-top " src="images/Group.png" alt="Card image cap ">
                        <div class="card-body text-left mb-3">
                            <h3 class="pr-5" style="font-weight: 600;">Lorem ipsum dolor sit amet, consectetuer diam euismod
                            </h3>
                            <p class="pr-5">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt. Ut wisi enim ad
                            </p>
    
                            <div class="mt-5">
                                <a href="formation.html">
                                <button class="btn btn-dark float-right mr-1 btn-size">
                                    En savoir plus
                                </button>
                            </a>
                            </div>
                        </div>
                    </div>  

                </div>
            </div>

        </div>
    </div>

    <div class="d-flex justify-content-center mb-5 pb-5">
        <!-- Columns are always 50% wide, on mobile and desktop -->
        <div class="row col-md-9">
            <div class="col-md-12">

                <div class="line-avis" style="text-align: center!important;">
                    <h5 class="font-weight-bold mb-4">FAQ
                    </h5>
                    <img src="images/paragraphe.png">
                </div>


                <div class="accordion mt-5" id="myAccordion" style="font-size: 25px!important;">
                    <div class="accordion-item mb-1">
                        <h2 class="accordion-header" id="headingTwo">
                            <button type="button" class="accordion-button" id="idbold" data-bs-toggle="collapse" data-bs-target="#collapseTwo">
                                <h4 class="font-weight-bold color-1 pt-2 pb-2">Est qu'une recherche google suffit à s'assurer qu'une marque ou un nom d'entreprise est encore disponible ?
                                </h4></button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse show" data-bs-parent="#myAccordion">
                            <div class="card-body">
                                <p style="color: white!important;">
                                    Bootstrap is a sleek, intuitive, and powerful front-end framework for faster and easier web development. It is a collection of CSS and HTML conventions.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item mb-1">
                        <h2 class="accordion-header" id="headingThree">
                            <button type="button" class="accordion-button collapsed" id="idbold" data-bs-toggle="collapse" data-bs-target="#collapseThree">
                                <h4 class="font-weight-bold color-1 pt-2 pb-2">What is CSS?
                                </h4> </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                            <div class="card-body">
                                <p style="color: white!important;">
                                    CSS stands for Cascading Style Sheet. CSS allows you to specify various style properties for a given HTML element such as colors, backgrounds, fonts etc.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item mb-1">
                        <h2 class="accordion-header" id="headingOne">
                            <button type="button" class="accordion-button collapsed" id="idbold" data-bs-toggle="collapse" data-bs-target="#collapseOne">
                                <h4 class="font-weight-bold color-1 pt-2 pb-2">What is
                                    HTML?
                                </h4> </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse " data-bs-parent="#myAccordion">
                            <div class="card-body">
                                <p style="color: white!important;">
                                    HTML stands for HyperText Markup Language. HTML is the standard markup language for describing the structure of web pages. </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mt-4 d-none d-md-block d-xl-block">
                    <a href="faq.html">
                                <button class="btn btn-dark float-right mr-1 btn-size">
                                    En savoir plus
                                </button>
                            </a>
                            </div>
            </div>
        </div>

    </div>

    <footer class="page-footer">
        <div class="box-margin-1">
            <div class="row" style="justify-content: center; align-items:center;">
                <div class="col-md-2 text-center text-center-phone">
                    <a href="index.html">
                    <img src="images/logo-blanc.png" class="logo-footer">
                    </a>
                    <p class="text-center text-muted" >
                        Service développé par LegalMarque
                    </p>
                </div>
                <div class="col-md-4 text-center-phone mtp-5 information-pratique">
                    <p class="text-uppercase text-white mb-4">INFORMATIONS PRATIQUES</p>
                    <a href="contact.html"><p class="text-muted text-white">Contactez-nous</p></a>
                    <a href="faq.html"><p class="text-muted text-white">FAQ</p></a>
                    <a href="glossaire.html"><p class="text-muted text-white">Glossaire</p></a>

                </div>
                <div class="col-md-2 text-center-phone">
                    <p class=" text-uppercase text-white mb-4 d-xl-block d-md-block d-none" style="opacity: 0;">INFORMATIONS</p>
                    <a href="https://k5g9k1mjrgw.typeform.com/to/lb1ICQvP"><p class="text-muted text-white">Carrières</p></a>
                    <a href="https://k5g9k1mjrgw.typeform.com/to/cavUKb38"><p class="text-muted text-white">Devenir partenaire</p></a>
                    <a href="annuaire.html"><p class="text-muted text-white">Annuaire</p></a>
                </div>
                <div class="col-md-4 text-center-phone text-right mt-5">
                    <a href="https://www.linkedin.com/company/legalmarque/" class="ml-3">
                        <img class="img-link-twit" src="images/link.png" />
                    </a>
                    <a href="https://twitter.com/legalmarque?lang=fr" class="ml-3">
                        <img class="img-link-twit" src="images/twit.png" />
                    </a>
                    <a href="https://www.instagram.com/legalmarque/?hl=fr" class="ml-3">
                        <img style="opacity: 0.7;" class="img-link-twit" src="images/insta.png" />
                    </a>
                    
                </div>
                <!--
                <div class="col-md-3 col-6 section-logo-2 text-center-phone">
                    <a href="https://www.swissmadesoftware.org/home.html" class="mtp-5">
                        <img class="img-logo-4" src="images/logo_4.png" />
                    </a>
                    <br>
                    <br>
                    <br>
                    <a href="https://www.swissmadesoftware.org/swiss-hosting.html" class="mtp-5">
                        <img class="img-logo-5" src="images/logo_5.png" />
                    </a>
                </div>
            -->
            </div>
            <hr>
            <div class="row flex-reverse-mobile">
                <div class="col-md-8 text-center-phone mtp-5">
                    <p>
                        <a href="#">
                            <span class="text-muted">
                               Legalnota.ch 2022. 
                            </span>
                            
                        </a>
                        <a href="cvg.html" class="ml-4">
                            <span class="text-muted">
                               conditions d’utilisation 
                            </span>
                            
                        </a>
                        <br class="d-block-mobile d-none">
                        <a href="pconfi.html" class="ml-4">
                            <span class="text-muted">
                               Politique de confidentialité
                            </span>
                            
                        </a>
                    </p>
                </div>
                
                <div class="col-md-4 text-right text-center-phone">
                    <a href="https://www.swissmadesoftware.org/home.html" class="ml-3">
                        <img class="img-logo-4" src="images/logo_4.png" />
                    </a>
                    <a href="https://www.swissmadesoftware.org/swiss-hosting.html" class="ml-3">
                        <img class="img-logo-5" src="images/logo_5.png" />
                    </a>
                </div>
            </div>
            
        </div>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>


    <script src="js/jquery-3.3.1.min.js "></script>
    <script src="js/popper.min.js "></script>
    <script src="js/bootstrap.min.js "></script>
    <script src="js/owl.carousel.min.js "></script>
    <script src="js/jquery.sticky.js "></script>
    <script src="js/main.js "></script>
</body>

</html>